*.html
*.log
*.cmd_log
*.prj
*.bit
*.drc
*.ut
*.xmsgs
*.cmd
*.bgn
*.exe
xilinxsim.ini
*.xwbt
*.wdb
*.xml
*.xrpt
HostIoToRam.lso
HostIoToRam.syr
HostIoToRam.xst
_ngo/
_xmsgs/
isim/
iseconfig/
servo.bld
servo.gise
servo.lso
servo.ncd
servo.ngc
servo.ngd
servo.ngr
servo.pad
servo.par
servo.pcf
servo.ptwx
servo.stx
servo.syr
servo.twr
servo.twx
servo.unroutes
servo.xpi
servo.xst
servo_guide.ncd
servo_map.map
servo_map.mrp
servo_map.ncd
servo_map.ngm
servo_pad.csv
servo_pad.txt
xlnx_auto_0_xdb/
xst/
