*.html
HostIoToRam.cmd_log
HostIoToRam.lso
HostIoToRam.prj
HostIoToRam.syr
HostIoToRam.xst
HostIoToRam_xst.xrpt
_ngo/
_xmsgs/
iseconfig/
servo.bld
servo.cmd_log
servo.gise
servo.lso
servo.ncd
servo.ngc
servo.ngd
servo.ngr
servo.pad
servo.par
servo.pcf
servo.prj
servo.ptwx
servo.stx
servo.syr
servo.twr
servo.twx
servo.unroutes
servo.xpi
servo.xst
servo_guide.ncd
servo_map.map
servo_map.mrp
servo_map.ncd
servo_map.ngm
servo_map.xrpt
servo_ngdbuild.xrpt
servo_pad.csv
servo_pad.txt
servo_par.xrpt
servo_summary.xml
servo_usage.xml
servo_xst.xrpt
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
